canvas {
  border: 1px dotted grey;
}

.input-editor-label {
  margin: 0 15px 0 5px;
  width: 50px;
  text-align: center;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.6);
}

.btn-editor-label {
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
  border-radius: 5px;
}

.btn-editor-label:hover {
  box-shadow: 0 0 4px grey;
}
#input_image {
  display: none;
}

.editor_menu {
  border-right: 1px solid rgba(128, 128, 128, 0.52);
}
